# Enable RewriteEngine
RewriteEngine On

# Test Redirect from non-www to www
RewriteCond %{HTTP_HOST} ^pace168\.com [NC]
RewriteRule ^(.*)$ https://www.pace168.com/$1 [L,R=301]

# Test Redirect to HTTPS
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Disable Directory Browsing
Options -Indexes
